<ion-view view-title="매입전표 조회">
<ion-nav-buttons side="right">
        <button menu-toggle="right" onclick="location.href='#/app/sub'">등록
        </button>
</ion-nav-buttons>
  <ion-content>
   <form>
   <div align="center"> 
   검색<hr>
	</div>
	   	<div align="center">
	   	<table>
	   		<tr>
	   			<td colspan="5" align="center">
	   				<label class="item item-input">
					  <i class="icon ion-search placeholder-icon"></i>
					  <input type="search" ng-model="listSearch" placeholder="상품명을 입력하세요">
					</label>
					<br>
	   			</td>
	   		</tr>
	   		<tr width="100%">
	   			<td align="center">일자</td>
	   			<td>
					  <input type="text"  ng-model="reqparams.sDate" size="11" style="border:1px solid #eee;">
				</td>
				<td>~</td>
				<td>
					  <input type="text"  ng-model="reqparams.eDate" size="11" style="border:1px solid #eee;">
				</td>
				<td>
	   				<button ng-click="searches()">검색</button>
	   			</td>
	   		</tr>
	    </table>
	    <div><button style="width:20%" ng-click="searchestoday()">금일</button>
	    <button style="width:20%" ng-click="searches7day()">1주일</button> 
	    <button style="width:20%" ng-click="searches30day()">1개월</button>
	    </div>
	    <hr>
	   	</div>
	   	<div align="center">
	   		조회목록
	   	</div>
	   	<hr>
	   	<any ng-repeat="x in lists | filter: listSearch track by $index" ng-if="$index < listindex">
	   	<a ng-click="meaipChitF(x.iL_No)">
	<table>
	   	<tr>
		   	<td width="20%" align="center">품명</td>
		   	<td width="80%" align="center">{{x.G_Name}}</td>
		</tr>
		<tr>
		   	<td width="20%" align="center">매입일</td>
		   	<td width="80%" align="center">{{x.Meaip_Date}}</td>
		</tr>
		<tr>
		   	<td width="20%" align="center">거래처</td>
		   	<td width="80%" align="center">{{x.Admin_Code}}</td>
		</tr>
		<tr>
		   	<td width="20%" align="center">매출총액</td>
		   	<td width="80%" align="center">{{x.Meaip_Amt}}</td>
		</tr>
	</table>
	</a>
	<button ng-click="more()" ng-if="$index + 1 == listindex">더보기</button>
	<hr>
	</any>
   </form> 
  </ion-content>
</ion-view>
