<ion-view view-title="매입 전표">
  <ion-content>
   <form>
   <div align="center"> 
   <any ng-repeat="x in meaipchitlists">
      {{x.iL_No}}<hr>
      <table>
        <tr width="100%">
          <td width="40%" align="cneter">
            <i class="ion-record">&nbsp;&nbsp;일 자</i>
          </td>
          <td width="60%" align="cneter">
            {{x.Meaip_Date}}
          </td>
        </tr>
        <tr>
          <td width="40%" align="cneter">
            <i class="ion-record">&nbsp;&nbsp;구 분</i>
          </td>
          <td width="60%" align="cneter">
            {{x.Subul_kind}}
          </td>
        </tr>
        <tr>
          <td width="40%" align="cneter">
            <i class="ion-record">&nbsp;&nbsp;거래처</i>
          </td>
          <td width="60%" align="cneter">
            {{x.GerName}}
          </td>
        </tr>
        <tr>
          <td width="40%" align="cneter">
            <i class="ion-record">&nbsp;&nbsp;창고지정</i>
          </td>
          <td width="60%" align="cneter">
            {{x.CName}}
          </td>
        </tr>
        <tr>
          <td width="40%" align="cneter">
            <i class="ion-record">&nbsp;&nbsp;매장지정</i>
          </td>
          <td width="60%" align="cneter">
            {{x.Sale_Place_Name}}
          </td>
        </tr>
      </table>
   </any>
	 </div>
   </form> 
  </ion-content>
</ion-view>
