<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">매입전표 수정</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemupdate()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <form>
   <div align="center"> 
   기본 입력사항<hr>
  </div>
      <div align="center">
    <any ng-repeat="x in meaipchitlists | filter: listSearch track by $index" ng-if="$index < 1">

        <label class="item item-input" style="border:0;">
          <i class="ion-record">&nbsp;&nbsp;매입일&nbsp;</i>
          <input type="text" style="text-align:center;" ng-model="x.Meaip_Date">
        </label>

        <label class="item item-input item-select" style="border:0;">
          <i class="ion-record">&nbsp;&nbsp;수불구분&nbsp;</i>
          <select ng-model="x.Subul_kind">
               <option ng-repeat="i in kindup" value="{{i.Subul_kindnum}}" ng-selected="{{i.Subul_kindnum}} == subul">{{i.Subul_kind}}</option>
          </select>
        </label>

        <div class="item item-input" style="border:0;">
          <i class="ion-record">&nbsp;&nbsp;거래처&nbsp;</i>
          <input type="text" ng-model="x.GerName" style="text-align:center;">
          <button class="button button-stable" ng-click="customer(1)" size="10">검색</button>&nbsp;
        </div>

        <label class="item item-input item-select" style="border:0;">
          <i class="ion-record">&nbsp;&nbsp;매장지정</i>
          <select ng-model="listpp.mejangcodenum">
             <option ng-repeat="y in storelists" value="{{y.Sale_Place_Code}}" ng-selected="y.Sale_Place_Code == listpp.mejangcodenum">{{y.Sale_Place_Name}}</option>
          </select>
        </label>

        <label class="item item-input item-select" style="border:0;">
          <i class="ion-record">&nbsp;&nbsp;창고지정</i>
          <select ng-model="listpp.changocodenum">
               <option ng-repeat="c in changolists" value="{{c.Code}}" ng-selected="c.Code == listpp.changocodenum">{{c.Name}}</option>
          </select>
        </label>
       </any>
      </div>
      <hr>
      </div>
      <ion ng-controller="MaippartsCtrl">
      <table>
        <tr>
          <td>&nbsp;
              <select ng-model="modedivition.mode" ng-change="modesear('',2)">
                <option value="Select_G_OnCode">자체코드</option>
                <option value="Select_G_Code">상품코드</option>
              </select>&nbsp;&nbsp;
          </td>
          <td>
              <input type="text" placeholder="상품명을 입력하세요" size="20" ng-model="search.gName">
          </td>
          <td><i class="ion-search" style="font-size:30px" ng-click="modesear('Select_GoodsName',2)"></i></td>
          <td><i class="ion-ios-barcode" style="font-size:30px" ng-click="scanBarcode(2)"></i></td>
          </tr>
        </table>
       </ion>
      <hr>
         <table width="100%" style="text-align:center;">
          <tr bgcolor="#EAEAEA">
            <td width="40%">상품명</td>
            <td width="10%">수 량</td>
            <td width="40%">단 가</td>
            <td width="10%">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4"><hr></td>
          </tr>
          <tr ng-repeat="y in meaipchitlists">
            <td>{{y.G_Name}}</td>
            <td><input type="number" min="1" max="999" value="{{y.G_Qty}}" ng-model="y.G_Qty"></td>
            <td>{{y.G_Price}}</td>
            <td><i class="ion-android-remove-circle" ng-click="goodsDe($index)"></i>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="4"><hr></td>
          </tr>
          <tr>
            <td colspan="4" align="right"><b>총 {{qtysum}}개 / {{pricesum}}원</b>&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
        </table><br><br>
    <ion-item ng-click="ss(meaipchitlists)">
      저장
    </ion-item>
	 </div>
   </form> 
  </ion-content>
</ion-modal-view>
