<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">{{checkval}}</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closemodesear()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
  <table>
  	<tr>
  		<td>
		  <label class="item item-input">
			  <i class="icon ion-search placeholder-icon"></i>
			  <input type="search" placeholder="{{ex}}" size="40" ng-model="modedivition.seaname">
		  </label>
		</td>
		<td>
		 <a class="button" ng-click="divisionSearch()">검색</a>
		</td>
	</tr>
  </table>
  <table width="100%">
  <tr>
    <td width="33%">상품코드</td>
    <td width="33%">상품명</td>
    <td width="33%">단  가</td>
  </tr>
  <tr>
   <td colspan="3"><hr></td> 
  </tr>
	<tr ng-click="listadd(x.G_Name,x.G_Dn5,x.G_Code,x.G_Stand)" ng-repeat="x in goodslists">
  	<td>{{x.G_Code}}</td>
    <td>{{x.G_Name}}</td>
    <td>{{x.G_Dn5}}</td>
	</tr>
  </table>
  </ion-content>
  </ion-modal-view>

