<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.maip573889" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>maip</name>
  <description>
        An Ionic Framework and Cordova project.
  </description>
  <author email="hi@ionicframework" href="http://ionicframework.com/">
      Ionic Framework Team
  </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="android-minSdkVersion" value="16"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>

    <!-- Allow links to example.com -->
    <allow-navigation href="http://erpia.net/include/ERPiaApi_TestProject.asp/*" />

    <!-- The above is equivalent to these three declarations -->
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-navigation href="data:*" />

    <!-- Allow links to web pages to open in a browser -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <!-- Allow all unrecognized URLs to open installed apps
         *NOT RECOMMENDED* -->
    <allow-intent href="*" />
    <access origin="http://www.erpia.net"/>
    <allow-intent href="http://erpia.net/*"/>
    <allow-navigation href="http://*/*"/>
    <allow-navigation href="https://*/*"/>


</widget>